 {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" defer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous" defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" defer ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
     <link rel="stylesheet" href="{% static 'register.css' %}">
    <title>Register</title>

<body>

<h1 class = 'reg'>Register</h1>
<form method="post">
{% csrf_token %}
 
 
 <div class="allform">
        <div class="class1">
        <label class="my_class1" for="{{ field.auto_id }}">First Name  <br> </label>{{ form.first_name }} <br>
        <label class="my_class2" for="{{ field.auto_id }}">Last Name </label>{{ form.last_name }} <br>
        <label class="my_class3" for="{{ field.auto_id }}">Age</label>{{ form.age }} <br>
        <label class="my_class4" for="{{ field.auto_id }}">Birth date</label>{{ form.born_date }} <br>
       
        </div>
        <div class="class2">
        <label class="my_class5" for="{{ field.auto_id }}"> Email</label>{{ form.email }} <br>
        <label class="my_class6" for="{{ field.auto_id }}">Phone number</label>{{ form.phone_number }} <br>
      <label class="my_class7" for="{{ field.auto_id }}">City</label>{{ form.city }} <br>
        <label class="my_class8" for="{{ field.auto_id }}">Country </label>{{ form.countries }} <br>

        

         </div>
        </div>
        <fieldset>
            <legend>Music preferences</legend>
            <div class="check">
            <div class="innerbox">
            <div>
              <input type="checkbox" id="pop" name="pop"
                     >
              <label for="pop">Pop</label>
            </div>
        
            <div>
              <input type="checkbox" id="rock" name="rock">
              <label for="rock">Rock</label>
            </div>
            <div>
                <input type="checkbox" id="soul" name="soul">
                <label for="soul">Soul</label>
              </div>
            </div>
            <div class="innerbox">
              <div>
                <input type="checkbox" id="jazz" name="jazz">
                <label for="jazz">Jazz</label>
              </div>
              <div>
                <input type="checkbox" id="metal" name="metal">
                <label for="metal">Metal</label>
              </div>
              <div>
                <input type="checkbox" id="reggae" name="reggae">
                <label for="reggae">Reggae</label>
              </div>
            </div>
            <div class="innerbox">
              <div>
                <input type="checkbox" id="rap" name="rap">
                <label for="rap">Rap</label>
              </div>
              <div>
                <input type="checkbox" id="hiphop" name="hiphop">
                <label for="hiphop">Hip Hop</label>
              </div>
              <div>
                <input type="checkbox" id="blues" name="blues">
                <label for="blues">Blues</label>
              </div>
            
            </div>
            <div class="innerbox">
              <div>
                <input type="checkbox" id="funk" name="funk">
                <label for="funk">Funk</label>
              </div>
              <div>
                <input type="checkbox" id="classic" name="classic">
                <label for="classic">Classic</label>
              </div>
                 <div>
                <input type="checkbox" id="afrotrap" name="afrotrap">
                <label for="afrotrap">Afro Trap</label>
              </div>
            </div>
        </div>



        </fieldset>
        <fieldset>
            <legend>Instruments</legend>
            <div class="instruments">
            <div class="innerbox1">
            <div>
              <input type="checkbox" id="voice" name="voice"
                     >
              <label for="voice">Voice</label>
            </div>
        
            <div>
              <input type="checkbox" id="guitar" name="guitar">
              <label for="guitar">Guitar</label>
            </div>
            <div>
                <input type="checkbox" id="piano" name="piano">
                <label for="piano">Piano</label>
              </div>
            </div>
            <div class="innerbox1">
              <div>
                <input type="checkbox" id="violin" name="violin">
                <label for="violin">Violin</label>
              </div>
              <div>
                <input type="checkbox" id="saxophone" name="saxophone">
                <label for="saxophone">Saxophone</label>
              </div>
              <div>
                <input type="checkbox" id="trumpet" name="trumpet">
                <label for="trumpet">Trumpet</label>
              </div>
            </div>
            <div class="innerbox1">
              <div>
                <input type="checkbox" id="marimba" name="marimba">
                <label for="marimba">Marimba</label>
              </div>
              <div>
                <input type="checkbox" id="triangle" name="triangle">
                <label for="triangle">Triangle</label>
              </div>
              <div>
                <input type="checkbox" id="bass" name="bass">
                <label for="bass">Bass</label>
              </div>
            </div>
            <div class="innerbox1">
              <div>
                <input type="checkbox" id="drums" name="drums">
                <label for="drums">Drums</label>
              </div>
              <div>
                <input type="checkbox" id="harp" name="harp">
                <label for="harp">Harp</label>
              </div>
            </div>
        </div>



        </fieldset>
        <button type="submit">Register</button>
        
 


</form>