body{
    
    width: 99%;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}




.logout-title{
    color: blue;
    font-size: 4em;
    text-align: center;
    position: absolute;
    top: 18px;
    left: 600px;

}
.logout-message{
    margin-top: 66px;
    text-align: center;
}
button {
    
    position: absolute;
    left: 42%;
    top: 254px;
    width: 200px;
    height: 33px;
    border-radius: 10px;
    background-color: white;
    color: blue;

}