{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Login</title>
</head>
<body>
    
    <div class="all">

    <img  class='logo' src="{% static 'icon.png'%}" alt="logo" width= '120px' height = '100px'>
    <h1>ShareMusic</h1>
    <h2>Share your music all over the world and find an amazing band.</h2>
    
    <h2 class="login">Login</h2>
    <div class="formAll">
        
        <form method="post">
            {%csrf_token%}
            {{form.as_p}}
            <div class="btn1" >
            <button type="submit" class="connexion"> Connexion </button></br>
            </div>
            <p>You don't have an account ?
                 <a href="{%url 'register'%}"> Register</a></p>



        </form>



    </div>
</div>

</body>
</html>